/*-------------
   COMMONS
-------------*/

header {
    background-color: #2c3e50;
    height: 60px;
    width: 100%;
}

.Main-Nav {
    list-style: none;
}

.heroSection,
.About {
    background-color: #1abc9c;
}

.hero {

    max-width: 800px;
    margin: auto;
}

.avatar {
    max-width: 250px;
    margin: auto;
}

.container_custom {
    max-width: 1180px;
}

.container_customMd {
    max-width: 992px;
}

footer {
    background-color: #3a546d;
}

.footer-bottom {
    background-color: #2c3e50;
}